.contact{
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.contact ul {
    list-style-type: none;
}

.contact ul .title{
    color : black;
}

.contact ul .contact-item{
        /*border: 1px solid #ddd;*/
}

#but-compose{
    align-content: center;
    text-align: center;
}